* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Serif', serif;
    padding: 20px;
}
.wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.sidebar {
    /*background: #1e2939; */
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.photo {
    width: 300px;
}
.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.contacts-container {
    /*
    margin-left: 40px;
    margin-right: 40px;
    */
    margin-top: 40px;
    
}
.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
}
.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}
.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 10px;
}
.soft-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}
.soft-skils-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}
.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}
.language-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}
/*.language-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}*/
.language-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}
.dots-sidebar {
    list-style-type: circle;
}
.profession {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}
.name {
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
}
.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}
.info-container {
    margin-bottom: 50px;
}
.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.profession-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.period {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #696969;
    padding-left: 5px;
}
.duties {
    margin-top: 5px;
    margin-bottom: 30px;
    list-style-type: circle;
}
.duties-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.education {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 7px;
    padding-left: 5px;
}
.education-container {
    margin-top: 40px;
}
/*
.main-container {
    display: flex;
    flex-direction: column;
}
.contacts-container {
    background: grey;
    width: 400px;
    padding: 40px;
    box-sizing: border-box;

}
.tech-skills-container {
    background: grey;
    width: 400px;
    box-sizing: border-box;
    margin-top: 40px;
}
.soft-skils-container {
    background: grey;
    width: 400px;
    box-sizing: border-box;
    margin-top: 40px;
}
.language-container {
    background: grey;
    width: 400px;
    box-sizing: border-box;
    margin-top: 40px;
}
.tech-skills-title {
    font-size: 20px;
    font-weight: 400px;
}
.tech-skills-item {
    color: #595959;
    font-family: PT Serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
} */